<!-- 

USAGE:
- DEFAULT:PRM
roslaunch loco_planning_project planner.launch

- PRM
roslaunch loco_planning_project planner.launch algo:=prm

- ECD
roslaunch loco_planning_project planner.launch algo:=ecd

- ACD
roslaunch loco_planning_project planner.launch algo:=acd

-->

<launch>    
    <arg name="algo" default="prm" />

    <node pkg="loco_planning_project" type="planner_node" name="planner_node" output="screen">
        
        <rosparam command="load" file="$(find loco_planning_project)/config/planning.yaml" />
        
        <param 
            name="planning_plugin" 
            value="loco_planning_project/PlannerPRM" 
            if="$(eval arg('algo') == 'prm')" 
        />
               
        <param 
            name="planning_plugin" 
            value="loco_planning_project/PlannerECD" 
            if="$(eval arg('algo') == 'ecd')" 
        />

        <param 
            name="planning_plugin" 
            value="loco_planning_project/PlannerACD" 
            if="$(eval arg('algo') == 'acd')" 
        />
               
    </node>
</launch>